@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body {
  font-family: 'Manrope', sans-serif;
  background: #757F9A;  /* fallback for old browsers */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-animation {
  background: linear-gradient(45deg, #D7DDE8,#757F9A);
  background-size: 400% 400%;
  animation: gradientAnimation 6s ease infinite;
}